.idea/
*.iml
*.iws
out/
!.mvn/wrapper/maven-wrapper.jar

target/
.mvn/timing.properties

*.log

.DS_Store
Thumbs.db

/target/
/*.jar
/*.war
/*.ear

frontend/node_modules/
frontend/dist/
frontend/.firebaserc
frontend/.firebase*
frontend/.idea
frontend/.env*
frontend/.env.production

.vite/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

application-dev.properties

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/runConfigurations/

.vscode/

coverage/
**/coverage/

*.class
*.swp
*~