.idea/
out/
target/
/.mvn

/target/

frontend/node_modules/
frontend/dist/
frontend/.firebase*
frontend/.idea
frontend/.firebaserc

.vite/
.env
frontend/.env.production

application-dev.properties

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/runConfigurations/

.vscode/

coverage/
**/coverage/